@import 'variables.less';

/**
 * Reset
 */
* {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	font-size: 1em;
	border: 0;
	color: inherit;
}

/**
 * Common style
 */
:focus {
	outline: 0;
	box-shadow: 0 0 .5em rgba(250, 250, 255, .5);
}

/**
 * Common elements
 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input:not([type="submit"]),
output {
	display: inline-block;
	background: @form-input-background;
	border: none;
	border-radius: 1em;
	min-height: 1em;
	padding: .5em 1em;
	min-width: 7em;

	&.validation-success {
		background: @form-input-valid-background;
	}
	&.validation-error {
		background: @form-input-invalid-background;
	}

	&:focus {
		background: lighten(@form-input-background, 3);
	}

	&.small {
		width: 6em;
		min-width: 6em;
		text-align: center;
	}
	&.xsmall {
		width: 2em;
		min-width: 2em;
		text-align: center;
	}
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

output {
	position: relative;
	padding: .25em 1.5em .25em;
	border-radius: 0;
	min-height: 1.5em;
	vertical-align: bottom;
	text-align: center;
	line-height: 1.5em;
	white-space: nowrap;

	&:before,
	&:after {
		position: absolute;
		top: 0;
		display: inline-block;
		border: 1em solid transparent;
		height: 0;
		width: 0;
		content: "";
	}

	&:before {
		left: 0;
		border-right-width: 0;
		border-left-color: #333;
	}
	&:after {
		right: 0;
		border-left-width: 0;
		border-right-color: #333;
	}
}

.table-scroller {
	max-width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

/**
 * Specific elements
 */
section.coordinate-converter {
	max-width: 14em;

	p {
		text-align: center;
		margin-bottom: 1em;
		line-height: 2.5em;
	}
}